.layout{
    height: 100vh;
    display:flex;
    flex-direction: column;
    color: #fff;
}
.cabecalho{
    color: #fff;
    display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        background-color: gray;
}

.cabecalho a{
    background-color:crimson;
    padding: 5px 12px;
    border-radius: 5px;

}

.conteudo{
    padding: 5px;
    height:100%;
}

.cabecalho h1{
    margin: 0;
    font-size: 1.4rem;

}